
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="data.computers">
  <thead>
    <tr>
      <th>Processor</th>
      <th>RAM</th>
      <th>HDD</th>
      <th>USB</th>
      <th>Graphics card</th>
      <th>Weight</th>
      <th>Power Supply</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of data.computers">
      <td>{{ c.processor }}</td>
      <td>{{ c.ram + ' ' + c.ramUnits }}</td>
      <td>{{ c.hardDisk + c.hardDiskUnits + c.hardDiskType }}</td>
      <td>{{ c.usb }}</td>
      <td>{{ c.graphicsCard }}</td>
      <td>{{ c.weight +  ' ' + c.weightUnits }}</td>
      <td>{{ c.powerSupply + "W PSU"}}</td>
    </tr>
  </tbody>
</table>
